<nawbarfeed>s</nawbarfeed>
<div class="container mt-5">
  <h2 class="text-center mb-4">Kullanıcı Bilgileri - Profil</h2>

  <!-- Kullanıcı Bilgileri Kartı -->
  <div class="card">
    <div class="card-header bg-info text-white">
      Kullanıcı Detayları
    </div>
    <div class="card-body">
      <p><strong>Kullanıcı ID:</strong> {{ user.id }}</p>
      <p><strong>Kullanıcı Adı:</strong> {{ user.firstName }}</p>
      <p><strong>Kullanıcı Rolü:</strong> {{ user.role }}</p>
    </div>
  </div>
</div>

