<div class="container mt-4">
  <h3 class="mb-4">Role & Authority Mapping</h3>

  <form (ngSubmit)="save()" class="row g-3 mb-4">
    <div class="col-md-4" > <!-- role seçilince açılacak -->
      <input type="text" (input)="onInputChange($event)" placeholder="Organizasyon ara..." />

      <select *ngIf="organizations.length > 0" [(ngModel)]="newRelation.roleId" name="organizationId" class="form-control" (change)="onOrganizationChange()">
        <option *ngFor="let organization of organizations" [value]="organization.id">
          {{ organization.name }}
        </option>
      </select>
    </div>

    <select [(ngModel)]="selectedAuthorityType" (change)="selectAuthorityType($event)">
      <option *ngFor="let option of authorityTypeOptions" [ngValue]="option.value">
        {{ option.label }}
      </option>
    </select>

    <div class="col-md-5">
      <input
        type="text"
        class="form-control"
        placeholder="Authority Name"
        [(ngModel)]="authoritySearchTest"
        (input)="onAuthorityNameChange()"
        (blur)="hideSuggestions()"
        (focus)="onAuthorityNameChange()"
        [attr.autocomplete]="'off'"
        name="authorityId"
        required
      />

      <ul class="list-group position-absolute w-100 zindex-dropdown mt-1" *ngIf="showSuggestions && filteredAuthorities.length > 0">
        <li
          class="list-group-item list-group-item-action"
          *ngFor="let authority of filteredAuthorities"
          (click)="selectAuthority(authority)"
          style="cursor: pointer"
        >
          {{ authority.name }}
        </li>
      </ul>
    </div>

    <div class="col-md-2 d-grid">
      <button class="btn btn-primary" type="submit">
        {{ selectedId ? 'Update' : 'Add' }}
      </button>
    </div>

    <div class="col-12 d-flex justify-content-end">
      <button type="button" class="btn btn-secondary btn-sm" (click)="reset()">Reset</button>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Role Name</th>
      <th>Authority Name</th>
      <th style="width: 150px;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of roleAuthorities">
      <td>{{ item.roleId }}</td>
      <td>{{ item.authorityId }}</td>
      <td>
        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-warning" (click)="edit(item)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="delete(item.id!)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
