body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ff5733, #c70039);
  color: black;
  min-height: 100vh;
}

.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.welcome-text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.admin-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin-bottom: 40%;
}

.search-card {
  margin-top: 30px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #c70039;
}

.description {
  font-size: 16px;
  margin-bottom: 60px;
  color: #333;
}

.btn-admin {
  background-color: #c70039;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-admin:hover {
  background-color: #a1002c;
  transform: scale(1.05);
}

.card.org-card {
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  border: none;
}

.card.org-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-title {
  color: #c70039;
  font-size: 1.3rem;
}
