/* Modal (Pop-up) arka planı */
.modal {
  display: none; /* Başlangıçta gizli */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Yarı saydam arka plan */
}

/* Modal içerik kutusu */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

/* Kapatma düğmesi */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
.container {
  max-width: 800px;
  margin: 0 auto;
}

#pdf-viewer {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin-top: 20px;
}

button {
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
}
