<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  (click)="goToAbout()">Giriş Yap</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<section class="hero">
  <h1>FeedBack Studio</h1>
  <p>PDF dosyalarınıza eklentiler ekleyin, belgelerinizi kolayca düzenleyin ve paylaşın. Şimdi başlayın!</p>
  <a href="#login" class="cta-button">Başlayın</a>
</section>

<!-- Footer -->
<footer>
  <p>&copy; 2024 FeedBack Studio. Tüm hakları saklıdır.</p>
</footer>
