:host {
  display: flex;
  height: 100vh; /* Tam yükseklik */
  flex-direction: row; /* Yatay yerleşim */
}

.sidebar {
  min-width: 0; /* Başlangıçta görünmez */
  max-width: 250px; /* Açıldığında maksimum genişlik */
  height: 100%; /* Tam yükseklik */
  background-color: #f8f9fa;
  padding: 20px;
  transition: min-width 0.3s ease; /* Geçiş efekti */
  overflow: hidden; /* Taşan içeriği gizle */
}

.sidebar:hover {
  min-width: 250px; /* Üzerine gelince genişle */
}

.content {
  flex: 1;
  padding: 20px;
}
