<nawbarfeed></nawbarfeed>

<p>Student Works!</p>
<button (click)="goToPdfEdit()">PDF Edit</button>

<div class="row">
  <div class="col-md-4" *ngFor="let homework of homeworks">
    <div class="card" style="width: 18rem; margin: 10px;">
      <div class="card-body">
        <h5 class="card-title">{{ homework.title }}</h5>
        <p class="card-text">{{ homework.description }}</p>
        <p class="card-text">{{ homework.id }}</p>
        <button
          class="btn btn-primary"
          type="button"
          (click)="showPopup(homework)"
        >
          View Details
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Popup Bileşeni -->
<app-popup-student #popup></app-popup-student>
