<div class="teacher-container">
  <div *ngIf="classrooms.length > 0; else noData" class="classroom-list">
    <h2 class="title">SINIFLARINIZIN LİSTESİ </h2>
    <div class="row">
      <div class="classroom-card" *ngFor="let classroom of classrooms">
        <p><strong>Sınıf:</strong> {{ classroom.name }}</p>
        <p><strong>Organizasyon:</strong> {{ classroom.organization?.name }}</p>
        <button (click)="goToHomework(classroom.id)">Ödev Ata</button>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <div class="teacher-card">
      <h1 class="title">🧑‍🏫</h1>
      <p>Herhangi bir sınıf bulunamadı.</p>
    </div>
  </ng-template>
</div>
