<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2E2E2E;">
  <div class="container-fluid">
    <a class="navbar-brand btn me-2" (click)="goToMain()">Anasayfa</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="user.role == 'ADMIN'">
          <a class="nav-link btn me-2" (click)="goToUsermanagement()">Kullanıcı Yönetim</a>
        </li>
        <li class="nav-item" *ngIf="user.role == 'ADMIN'">
          <a class="nav-link btn me-2" (click)="goToOrganization()">Kurum</a>
        </li>
        <li class="nav-item" *ngIf="user.role == 'ADMIN' || user.role == 'EXECUTIVE'">
          <a class="nav-link btn me-2" (click)="goToClassroom()">Sınıf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn me-2" (click)="goToProfile()">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger fw-bold" (click)="logout()">Çıkış Yap</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
