

#pdf-render {
  border: 1px solid black;

}


.canvas-container {
  position: relative;
  width: 100%;
}

.button {
  position: absolute;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
canvas {
  display: block;
  /*margin: 0 auto;*/
}

