body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f4c542, #f39c12);
  color: black;
  min-height: 100vh;
}

.executive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.executive-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  text-align: center;
  margin-top: -150px; /* EKRANDA YUKARI KAYDIRIR */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #b95c00;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.btn-executive {
  background-color: #f39c12;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-executive:hover {
  background-color: #c87f0a;
  transform: scale(1.05);
}
