/* Genel Stil */
html, body {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* yatay scroll’u engelle */
  overflow-y: auto;    /* dikey scroll’a izin ver */
}


/* Ana Konteyner */
.main-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* içeriğin yukarıdan başlamasını sağlar */
  text-align: center;
  color: black;
  transition: all 0.5s ease-in-out;
  padding: 2rem 1rem;
  box-sizing: border-box;
}



/* Öğretmen Arkaplanı */
.teacher-bg {
  background: linear-gradient(135deg, #007bff, #6610f2);
}

/* Öğrenci Arkaplanı */
.student-bg {
  background: linear-gradient(135deg, #28a745, #20c997);
}

/* Admin Arkaplanı */
.admin-bg {
  background: linear-gradient(135deg, #ff5733, #c70039);
}

/* Executive Arkaplanı */
.executive-bg {
  background: linear-gradient(135deg, #f4c542, #f39c12);
}

.custom-bg{
  background: linear-gradient(135deg, #20dbd3, #20dbd3);
}

/* İçerik Bölümü */
  .content-section {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 30%;
}

/* Başlık */
.title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

/* Açıklama */
.description {
  font-size: 16px;
  margin-bottom: 60px;
  color: #333;
}

/* Buton */
.btn-go {
  background: linear-gradient(135deg, #28a745, #20c997);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-go:hover {
  background: linear-gradient(135deg, #28a745, #20c997);
  transform: scale(1.05);
}
