<nawbarfeed></nawbarfeed>

<div [ngClass]="{
    'teacher-bg': user.role === 'TEACHER',
    'student-bg': user.role === 'STUDENT',
    'admin-bg': user.role === 'ADMIN',
    'executive-bg': user.role === 'EXECUTIVE'
  }" class="main-container">

  <!-- Öğretmen İçeriği -->
  <div *ngIf="user.role == 'TEACHER'">
    <app-teacher></app-teacher>
  </div>

  <!-- Öğrenci İçeriği -->
  <div *ngIf="user.role == 'STUDENT'">

    <div class="content-section">
      <h1 class="title">🎓</h1>
      <p class="description">Ödevlerinizi kontrol edin ve öğretmenlerle iletişimde kalın.</p>
      <button class="btn-go" (click)="goToStudent()">Ödev Sayfasına Git</button>
    </div>

  </div>

  <!-- Admin İçeriği -->
  <div *ngIf="user.role == 'ADMIN'">
    <div class="content-section">
      <h1 class="title">🛠️</h1>
      <p class="description">Sistem ayarlarını yönetmek ve kullanıcı kontrollerini sağlamak için buradasınız.</p>
      <button class="btn-go" (click)="goToAdmin()">Yönetim Paneline Git</button>
    </div>
  </div>

  <!-- Executive İçeriği -->
  <div *ngIf="user.role == 'EXECUTIVE'">
    <executivePage></executivePage>
  </div>

</div>
