<nawbarfeed></nawbarfeed>

<div [ngClass]="{
  'teacher-bg': user.role === 'TEACHER',
  'student-bg': user.role === 'STUDENT',
  'admin-bg': user.role === 'ADMIN',
  'executive-bg': user.role === 'EXECUTIVE',
  'custom-bg': user.role === 'CUSTOM',
  'guest-bg': user.role === 'GUEST'
}" class="main-container">

  <!-- Guest İçeriği -->
  <div *ngIf="user.role == 'GUEST'">
    <h2 class="title">Hoş geldin, {{ user.firstName || 'Ziyaretçi' }}!</h2>

    <div class="content-section">
      <h1>👤</h1>
      <p class="description">Sayın Ziyaretçi, en kısa sürede role sahip olacaksınız.</p>
      <button class="btn-go" (click)="goToHome()">Ana Sayfaya Dön</button>
    </div>
  </div>

  <!-- Öğretmen İçeriği -->
  <div *ngIf="user.role == 'TEACHER'">
    <h2 class="title">Hoş geldin, {{ user.firstName }}!</h2>
    <app-teacher></app-teacher>
  </div>
<!-- CUSTOM -->
  <div *ngIf="user.role == 'CUSTOM'">
    <h2 class="title">Hoş geldin, {{ user.firstName }}!</h2>
    <app-custom-page></app-custom-page>
  </div>
  <!-- Öğrenci İçeriği -->
  <div *ngIf="user.role == 'STUDENT'">
    <h2 class="title">Hoş geldin, {{ user.firstName }}!</h2>

    <div class="content-section">
      <h1>🎓</h1>
      <p class="description">Ödevlerinizi kontrol edin ve öğretmenlerle iletişimde kalın.</p>
      <button class="btn-go" (click)="goToStudent()">Ödev Sayfasına Git</button>
    </div>

  </div>

  <!-- Admin İçeriği -->
  <div *ngIf="user.role == 'ADMIN'">
    <h2 class="title">Hoş geldin, {{ user.firstName }}!</h2>
    <adminPage></adminPage>
  </div>

  <!-- Executive İçeriği -->
  <div *ngIf="user.role == 'EXECUTIVE'">
    <h2 class="title">Hoş geldin, {{ user.firstName }}!</h2>
    <executivePage></executivePage>
  </div>

</div>
